<div class="game-page">
    <h1>{{winningPlayer.first_name}} wins!</h1>
    <hr>
    <div class="row player-grid">
      <div class="player-item col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
          <div class="img-wrapper">
            <img {{bind-attr src="winningPlayer.profile_image_url"}}>
            <div class="points-balance">{{winningPlayer.st_points_balance}} Points</div>
          </div>
      </div>
    </div>
    <div class="points-earned">+{{st_points_change}} Points!</div>
    <hr>
    <div class="actions">
      {{#link-to 'games.new' class="btn btn-primary btn-lg" role="button"}}New Game{{/link-to}}
      {{#link-to 'index' class="btn btn-secondary btn-lg" role="button"}}Back Home{{/link-to}}
    </div>
</div>
