<div class="home-page">
  <div class="jumbotron">
  	<h1>Welcome to Pong!</h1>
  	<p>The pong app Sweet Tooth deserves</p>
    {{#link-to 'games.new' class="btn btn-primary btn-lg" role="button"}}Start New Game{{/link-to}}
  </div>
  <div class="row game-history">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <ul class="list-group">
        <li class="list-group-item">
          <img src="/assets/players/vlad.jpg">
          <span class="points">+14</span>
          <div class="description">
            <p class="name">Vlad Vanca</p>
            <p>won a game against <strong>Mohsen</strong></p>
          </div>
        </li>
        <li class="list-group-item">
          <img src="/assets/players/mike.jpg">
          <span class="points">+14</span>
          <div class="description">
            <p class="name">Mike Rossi</p>
            <p>won a game against <strong>Walt</strong></p>
          </div>
        </li>
      </ul>
  </div>
</div>
