<div class="home-page">
  <div class="jumbotron">
  	<h1>Welcome to Pong Points!</h1>
  	<p>The pong app Sweet Tooth deserves</p>
    {{#link-to 'games.new' class="btn btn-primary btn-lg" role="button"}}Start New Game{{/link-to}}
  </div>
</div>
