
/**
 * Compensation for fixed top header
 */
body { padding-top: 50px; }

h1 {
  text-align: center;
}

.app-container {
  padding-bottom: 20px;
}

/*****************
 * Pages
 *****************/

.games-new {

  .player-grid {

    .player-item {

      margin-bottom: 10px;

      img {
        width: 100%;
      }
    }    
  }

  .actions {
    text-align: center;
  }


}