
/**
 * Compensation for fixed top header
 */
body { padding-top: 50px; }

h1 {
  text-align: center;
}

/*****************
 * Pages
 *****************/

.games-new {

  .player-grid {
    img {
      width: 100%;
    }
  }


}